<?xml version="1.0"?>
<configuration>
  <configSections>
   </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <runtime>
    <generatePublisherEvidence enabled="false"/>
  </runtime>
  <appSettings>
    <!--<add key="PK" value="1111111111"/>-->
    <add key="PK" value=""/>
    <add key="WebRegistration" value=""/>
    <add key="CreateTbl" value="Create table [x-y](a varchar(100),b integer,x bit,y varchar(100),z varchar(100))"/>
  </appSettings>
</configuration>
